[project]
	description = Manifest of AospExtended
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shubham Singh (ishubhamsingh)
[access "refs/for/refs/*"]
	read = group user/Shubham Singh (ishubhamsingh)
	push = group user/Shubham Singh (ishubhamsingh)
	label-Code-Review = -2..+2 group user/Shubham Singh (ishubhamsingh)
	label-Verified = -1..+1 group user/Shubham Singh (ishubhamsingh)
	rebase = group user/Shubham Singh (ishubhamsingh)
	removeReviewer = group user/Shubham Singh (ishubhamsingh)
	submit = group user/Shubham Singh (ishubhamsingh)
[access "refs/heads/*"]
	read = group user/Shubham Singh (ishubhamsingh)
	create = group user/Shubham Singh (ishubhamsingh)
	push = +force group user/Shubham Singh (ishubhamsingh)
	pushMerge = group user/Shubham Singh (ishubhamsingh)
[access "refs/tags/*"]
	push = group user/Shubham Singh (ishubhamsingh)
	push = +force group user/Shubham Singh (ishubhamsingh)
